#principal{
    background-color: chartreuse;
    border: 3px solid red;

}
/* .conteudo{
    background-color: blue;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    height: 150px;
} */
.conteudo{
    background-color: blue;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    height: 150px;
    float: left;
    margin: 10px;
} 
.conteudo4{
    background-color: rgb(0, 255, 64);
    border: 1px solid rgb(5, 5, 5);
    width: 150px;
    height: 150px;
    height: 150px;
    margin: 10px;
    clear: left;
}